@import url(https://db.onlinewebfonts.com/c/831e1f4da157d96bc996f8c9f5f1e578?family=Pokemon+GB);

#icon {
    width: 102px;
    height: 84px;
    object-fit: fill;
    object-position: 25% 20%;
    margin: -30px 0 0 0;
}

#dexnum {
    font-family: 'Pokemon GB', sans-serif;
    color:black;
}